<div class="container">
  <h1> Todo List</h1>
  <ul>
    <li *ngFor="let todo of todos;">{{i}}{{todo.description}}</li>
  </ul>
  <button routerLink="/customers">Customers</button>
  <button routerLink="/orders">Orders</button>
  <button routerLink="">Home</button>
  <form>
    <div class="form-group">
      <label for="name">{{value}}</label>
      <input type="text" class="form-control" #box (keyup.enter)="onEnter(box.value)" id="name" required>
    </div>

    <button type="submit" class="btn btn-success" (click)="onAddTodo(box.value)">Submit</button>

  </form>
</div>
